{max_random, 100}.

{duration, 1}.

{concurrent, 250}.

{report_interval, 6}.

{erlange_nodes, ['nonode@nohost']}.

{operations, [{spawning,100} , {remote_call,100},{global_register,0}, {global_unregister,0}, {global_whereis,0},{local_register,1}, {local_unregister,1}, {local_whereis,1}]}.

{sleep_time_after_ping, 1}.

{sleep_time_before_ping, 1}.

{initial_global_size, 0}.

{packet_size, 1000}.

{delay_remote_function, 250}.
