
{duration, 1}.
% Duration of benchmark in minute. This can be specified in run.sh file.

{concurrent, 10}.
% Number of parallel worker on each Erlang node

{report_interval, 6}.
% How often, in seconds, the results should be simplified.

{erlange_nodes, ['nonode@nohost']}.
% Name of all nodes participate in the benchmark

{operations, [{spawning,100} , {remote_call,100},{global_register,0}, {global_unregister,0}, {global_whereis,0},{local_register,1}, {local_unregister,1}, {local_whereis,1},{gen_server_call,10}, {fsm_server_call, 10}]}.
% ratio of commands that will be used in the benchmark. 

{sleep_time_after_ping, 0}.

{sleep_time_before_ping, 0}.

{packet_size, 1000}.
% size of data, in byte, as a argument for RPC and spawn commands

{delay_remote_function, 100}.
% Specifies the amount of time, in microseconds, that function, which is called by RPC or spawn, should take

{transitive_connection, true}. %% In SD Erlang, specifies whether commands like spawn and rpc is run just on nodes in the group or on all the nodes in the cluster

