
{max_random, 100}.

{duration, minutes}.

{concurrent, 200}.

{report_interval, report_interval_seconds}.

{erlange_nodes, [Here_put_VMs_names]}.

{operations, [{spawning,spawn_percentage} , {remote_call,remote_call_percentage},{global_register,global_register_percentage}, {global_unregister,global_unregister_percentage}, {global_whereis,global_whereis_percentage},{local_register,local_register_percentage}, {local_unregister,local_unregister_percentage}, {local_whereis,local_whereis_percentage}]}.

{sleep_time_after_ping, sleep_time_after_ping_here}. %% A delay to make sure cluster of Erlang nodes becomes stable

{sleep_time_before_ping, sleep_time_before_ping_here}.  %% A delay to make sure DEbench gets run on all nodes

{node_name, local_node_name}.

{initial_global_size, 0}.

{initial_active_process, 0}.

{packet_size, 1000}. %% size of data that is send and receive in spawn and rpc commands

{delay_remote_function, 100}. %% specifies how long remote function takes in microsecond. This is the fucntion that is called by spawn or rpc

{delay_after_bench_finished, delay_after_bench_finished_here}. %% give chance to response to other nodes that started a bit later
